*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: serif;
}
h1{
  text-align: center;
 }

.container-table{
  width:90%;
  text-align: center;
  align-items: center;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

table,td{
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
  border-spacing: 17px;
}
body{
  background-color:white;
}
th,td{
  color:black;
  padding:8px 8px;
}
.row-update{
  background-color: #2d3436;
}
th{
  background-color:orange;
  border:1px solid white;
  color:white;
}
.btn{
color:white;
background-color: #2d3436;
border: none;
}
.txt-field{
  color:white;
background-color: #2d3436;
border: none;

}
.topnav {
  background-color:#dfe6e9;
  overflow: hidden;
  padding: 15px 20px;
}
.button-nav:hover {
  background-color:#dfe6e9;
  color: black;
}
.button-nav{
float: right;
background-color:#dfe6e9;
color:black;
font-size: 20px;
border: none;
cursor: pointer;
}
.head-nav{
font-size: 25px;
float: left;
background-color:#dfe6e9;
color:black;
border: none;
}



